@model SampleMvcSite.Models.MyViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Simple cache test</title>
    </head>
    <body>
        <div><a href="/home/viewlog" target="_blank">View Log</a></div>
        <br /><br /> 
        
        <h2>Timing</h2>
        Setup Time : @Model.SetupTimeMs
        <br/>
        Load Time : @Model.LoadTimeMs
        
        <h2>Result</h2>
        @Model.Data.DateOfBirth <br/>
        @Model.Data.Name @Model.Data.Surname<br/>
        @foreach (var o in Model.Data.Other)
        {
            @o.Bar @o.Foo<br/>
        }

    </body>
</html>