@model SampleMvcSite.Models.MyViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Simple cache test</title>
    </head>
    <body>
        <div><a href="/home/viewlog" target="_blank">View Log</a></div>
        <br /><br />

        <div>
            @Model.SetupTimeMs
            <br/>
            @Model.LoadTimeMs
        </div>
        @Model.Data.DateOfBirth <br/>
        @Model.Data.Name @Model.Data.Surname<br/>
        @foreach (var o in Model.Data.Other)
        {
            @o.Bar @o.Foo<br/>
        }

    </body>
</html>